@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic);
/* CSS Document */

body {
    font-family: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #EAE1C0;
    color: #483A3A;
}

#header {
    background-color: #A89D89;
}

<<<<<<< HEAD
#navigationBar {
    color: #C3C7AD;

=======
#mainImage {
    padding: 1em;
}

#welcome, #about-us, #age-requirement {
    background-color: #8FB98B;
    border-radius: 20px;
    padding:1em;
}

a {
    color: #C3C7AD;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


#footer {
    background-color: #A89D89;

}

@media screen and (max-width: 750px) {
    #welcome {
        margin: 1em;
    }
}

@media screen and (max-width: 992px) {
    body {

    }

    
>>>>>>> df60c03aa69192c7ea00ee04c057d45e69a81ce2
}

/*navigation bar*/
.navbar-default .navbar-brand {
    color: #C3C7AD;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-default {
    background-color: #B14052;
}

.navbar-default .navbar-nav > li > a {
    color: #C3C7AD;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default > button {
    float: left;
}
/*end navigation bar*/









/*home page only features*/
.panel-group {
    padding: 1em;
}
/*end home page only features*/

/*employee table code*/
.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

#cards {
    margin: 0;
    padding: 0;
}

#card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
}

#card img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

#card .details {
    padding-left: 170px;
}

#card .name,
#card .title,
#card p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

#card .title {
    font-size: 150%;
}

#card  {
    font-size: 125%;
}


/*end employee table code*/





/*schedules code*/
#calendar {
    text-align: right;
    padding: 2em;
}




/*p {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/


/*#contentContainer*/
/*{*/
    /*top: 0px;*/
    /*margin-left: 163px;*/
    /*margin-top: 0;*/
    /*margin-right: 0;*/
    /*margin-bottom: 0;*/
    /*width: 700px;*/
/*}*/

/*#contentContainer h1,h3,h4,h5,h6*/
/*{*/
    /*margin: 0 0 0 0;*/
    /*padding: 0;*/
/*}*/

/*#header*/
/*{*/
    /*top: 50px;*/
    /*padding-left: 20px;*/
    /*height: 45px;*/
    /*text-align: left;*/
    /*padding-top: 25px;*/
    /*background-color: #907860;*/
/*}*/

/*#header2*/
/*{*/
    /*margin-top: 40px;*/
    /*margin-bottom: 10px;*/
    /*width: 300px;*/
    /*height: 65px;*/
    /*float: none;*/
    /*margin-left: 550px;*/
/*}*/

/*#header h1 {*/
    /*margin: 0;*/
    /*float: none;*/
/*}*/

/*#navBar {*/
    /*background-color: #B14052;*/
    /*float:left;*/
/*}*/

/*#navigation*/
/*{*/
    /*padding-top: 10px;*/
    /*margin-top: 0px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*float: left;*/
    /*width: 660px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*#navigation ul*/
/*{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*#navigation ul li*/
/*{*/
    /*list-style-type: none;*/
    /*display: inline;*/
/*}*/

/*#navigation li a*/
/*{*/
    /*display: block;*/
    /*float: left;*/
    /*text-decoration: none;*/
    /*padding-top: 5px;*/
    /*padding-right: 10px;*/
    /*padding-bottom: 5px;*/
    /*padding-left: 10px;*/
    /*border-right-style: none;*/
    /*border-right-color: #fff;*/
/*}*/

/*#navigation li a:hover {*/
/*}*/

/*#content-container*/
/*{*/
/*float: left;*/
/*width: 1000px;*/
/*}*/

/*#section-navigation*/
/*{*/
    /*width: 700px;*/
    /*padding: 0px 0px;*/
    /*display: inline;*/
/*}*/

/*#section-navigation ul*/
/*{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*#section-navigation ul li*/
/*{*/
    /*margin: 0 0 1em;*/
    /*padding: 0;*/
    /*list-style-type: none;*/
/*}*/

/*#address_style*/
/*{*/
    /*font-size: 10pt;*/
    /*color: #483A3A;*/

/*}*/

/*#content*/
/*{*/
    /*width: 700px;*/
    /*margin-top: 0px;*/
    /*margin-right: 0;*/
    /*margin-bottom: 0;*/
    /*padding-top: 0px;*/
    /*padding-right: 0px;*/
    /*padding-bottom: 15px;*/
/*}*/

/*#ensoMainImage {*/
    /*float:left;*/
/*}*/

/*#content h2 {*/
    /*font-weight: 400;*/
    /*font-size: 1.5em;*/
    /*font-style: normal;*/
    /*margin-top: 15px;*/
    /*margin-right: 0;*/
    /*padding-bottom: 0px;*/
/*}*/
/*#content h4 {*/
    /*margin: 0 0 0 0;*/
    /*font-weight: bold;*/
    /*font-size: 1em;*/
    /*font-style: normal;*/
    /*padding-top: 10px;*/
/*}*/
/*#content h5 {*/
    /*font-size: 1.1em;*/
    /*font-weight: normal;*/
/*}*/

/*#content p {*/
    /*font-size: 1.1em;*/
    /*font-style: normal;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*#subnavigation*/
/*{*/
    /*font-size: 10pt;*/
    /*color: #483A3A;*/
    /*width: 700px;*/
    /*height: 20px;*/
/*}*/

/*#contentblock1 {*/
    /*font-size: 10pt;*/
    /*float: left;*/
    /*width: 310px;*/
    /*margin-top: 10px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 0;*/
    /*margin-left: 20px;*/
    /*font-style: normal;*/
/*}*/
/*#contentblock1 li {*/
    /*font-size: 1.0em;*/
/*}*/
/*#contentblock1 h4 {;*/
    /*font-weight: bold;*/
    /*font-size: 1em;*/
    /*font-style: normal;*/
    /*padding-bottom: 0px;*/
    /*margin-top: 10px;*/
/*}*/

/*#contentblock1 h5 {*/
    /*font-size: 1.1em;*/
    /*font-weight: normal;*/
    /*padding-top: 0px;*/
/*}*/

/*#contentblock1 h6 {*/
    /*font-size: 1.1em;*/
    /*font-weight: normal;*/
    /*padding-top: 3px;*/
    /*padding-left: 20px;*/
    /*padding-bottom: 7px;*/
/*}*/

/*#contentblock1 p.stylegreen {*/
    /*color: #483A3A;*/
    /*margin-left: 20px;*/
/*}*/

/*#contentblock2*/
/*{*/
    /*font-size: 10pt;*/
    /*float: left;*/
    /*width: 330px;*/
    /*margin-top: 10px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 0px;*/
    /*font-style: normal;*/

/*}*/
/*#contentblock2 img*/
/*{*/
    /*border: 5px solid #FFFFFF;*/
    /*margin: 10px;*/
/*}*/
/*#contentblock3*/
/*{*/
    /*full size block*/
    /*background-color: #8FB98B;*/
    /*font-size: 10pt;*/
    /*float: left;*/
    /*width: 660px;*/
    /*margin-top: 10;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 0px;*/
    /*margin-left: 20px;*/
    /*font-style: normal;*/
    /*text-align: center;*/
/*}*/
/*#contentblock3 h5 {*/
    /*font-weight: normal;*/
    /*font-size: .8em;*/
    /*font-style: normal;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

/*#contentblock3 img.facilities {*/
    /*border: 5px solid #FFFFFF;*/

/*}*/

/*#contentblock3 img.instructors {*/
    /*vertical-align: top;*/
    /*padding-top: 0px;*/
    /*margin-top: 0px;*/




/*}*/

/*#contentblock4*/
/*{*/
    /*board members image block*/
    /*font-size: 10pt;*/
    /*float: left;*/
    /*width: 200px;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 20px;*/
    /*font-style: normal;*/
    /*margin-left: 10px;*/
    /*text-align: center;*/
    /*padding-top: 0px;*/
    /*position: relative;*/
/*}*/


/*#aside*/
/*{*/
    /*float: right;*/
    /*width: 200px;*/
    /*padding: 20px 0;*/
    /*margin: 0 20px 0 0;*/
    /*display: inline;*/
/*}*/

/*#aside h3 { margin: 0; }*/

/*#footer*/
/*{*/
    /*text-align: right;*/
    /*padding-top: 15px;*/
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
    /*width: 660px;*/
    /*font-size: 8pt;*/
    /*padding-bottom: 10px;*/
    /*position: static;*/
    /*margin-left: 163px;*/
    /*margin-top: 30px;*/
/*}*/
/*#container {*/

/*}*/

/*#mainimage*/
/*{*/
    /*width: 700px;*/
    /*height: 250px;*/
    /*top: 250px;*/

/*}*/


/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


/*.indentmenu{
    width: 100%; /*leave: this value as is in most cases*/
/*font-size: 13px;
    font-weight: bold;
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: #FEF9E6;
}*/

/*.indentmenu ul{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*float: left;*/
    /* width: 80%; width of menu*/
    /*border-top: 1px solid navy; *//*navy border*/
    /*background: #8FB98B;*/
/*}*/

/*.indentmenu ul li{*/
    /*display: inline;*/
/*}*/

/*.indentmenu ul li a{*/
    /*float: left;*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*padding-top: 5px;*/
    /*padding-right: 10px;*/
    /*padding-bottom: 5px;*/
    /*padding-left: 10px;*/
    /*border-right-color: #FEF9E6;*/
    /*border-right-width: thin;*/
    /*border-right-style: solid;*/
/*}*/

/*.indentmenu ul li a:visited{*/
    /*color: #FFFFFF;*/
    /*border-right-color: #FEF9E6;*/
    /*border-right-width: thin;*/
    /*border-right-style: solid;*/
/*}*/

/*.indentmenu ul li a.selected{*/
    /*color: #483600 !important;*/
    /*padding-top: 5px; *//*shift text down 1px*/
    /*padding-bottom: 5px;*/
    /*font-weight: bold;*/
    /*border-right-color: #FEF9E6;*/
    /*border-right-width: thin;*/
    /*border-right-style: solid;*/
/*}*/


/*.tabcontentstyle{ /*style of tab content oontainer*/
/*    border: 1px solid gray;*/
    /*width: 700px;*/
    /*margin-bottom: 1em;*/
    /*padding: 10px;*/
/*}*/

/*.tabcontent{
    display:none;
}
*/
/*@media print {
    .tabcontent {
        display:block !important;
    }
}*/
