@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic);
/* CSS Document */


html, body {
    height: 100%;
}

body {
    font-family: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #EAE1C0;
    color: #483A3A;
}

#header {
    background-color: #A89D89;
    padding: .5em;
}

.mainImage {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.mainImage .col-sm-12 {
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom: 1em;
}

.contentMain {
    background-color: #8FB98B;
    border-radius: 20px;
    padding:1em;
    margin: 1em;
}

.pictureContent {
    background-color: #B14052;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

.pictureContent .col-sm-3 {
    margin: 5px;
}

#about-us {
    margin-top: 20px;
}

a {
    color: #C3C7AD;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


#footer {
    background-color: #A89D89;

}

h2 {
    margin-top: 0;
}

@media screen and (max-width: 750px) {
    .contentMain {
        margin: 1em;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }

}

#FAQ h4, #mission h4, #facility h4  {
    font-weight:bold;
}


/*navigation bar*/
.navbar-default .navbar-brand {
    color: #C3C7AD;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-default {
    background-color: #B14052;
    font-size: 20px;
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #C3C7AD;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default > button {
    float: left;
}

/*end navigation bar*/








/*home page only features*/
.panel-group {
    padding: 1em;
}
/*end home page only features*/

#cherry-blossom {
    margin-bottom: 1em;
}


/*employee table code*/
.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.cards {
    margin: 0;
    padding: 0;
}

.card .details .desc {
    font-size: 18px;
}

.card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
}

.card .details .name 
.card .details .title{
    float:right;
    list-style: inline-block;
}

.card .details .img {
    float:left;
    max-width: 150px;
    border-radius: 5px;
}

.card .name,
.card .title,
.card .desc {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.card .title {
    font-size: 150%;
}

.card  {
    font-size: 125%;
}


/*end employee table code*/





/*schedules code*/
#calendar {
    text-align: right;
    padding: 2em;
}

#enso-redmond .col-sm-4 {
    margin:5px;
}

