
<!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>About Enso Center</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <link href="css/layout.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/tabcontent.js">
        /***********************************************
         * Tab Content script v2.2- © Dynamic Drive Dhtml code library (www.dynamicdrive.com)
         * This notice MUST stay intact for legal use
         * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
         ***********************************************/
    </script>
</head>
<body ng-app="AddressBook" ng-controller="AddressController" class="container-fluid">
        <div id="header" class="row">
            <div class="col-sm-12">
                <p><a href="mailto:contact@ensocenter.org">contact@ensocenter.org</a> |
                <a href="tel:4258690276">425.869.0276</a></p>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header" id="hamburger">
                    <button class="navbar-toggle collapsed" id="dLabel" type="button" data-toggle="collapse" data-target="#mini-menu">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand">Menu</p>
                </div>

                <div class="collapse navbar-collapse" id="mini-menu">
                    <ul class="nav navbar-nav" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="index.html" target="_self">Home</a>
                        </li>

                        <li>
                            <a href="aboutenso.html" target="_self">About Enso</a>
                        </li>

                        <li>
                            <a href="martialarts.html" target="_self">Martial Arts</a>
                        </li>

                        <li>
                            <a href="tuition.html" target="_self">Tuition</a>
                        </li>

                        <li>
                            <a href="schedules.html" target="_self">Schedules</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div id="content">
            <div class="row">    
                <div id= "mainImage" class="row">
                    <div class="col-sm-12">
                        <img src="images/about-enso-banner.jpg" height="100%" width="100%">
                    </div>
                </div>
            </div>

            <div id="about-us">
                <h2>About Us</h2>
                <p>Enso is an ancient, international symbol of inner strength, harmony, community, and peace. It symbolizes a commitment to personal growth through body and mind balance, discipline, and practice. Enso comes from the Japanese language and literally means an "open" circle.
                Enso Center has been teaching martial arts and international arts for 25+ years!</p>
                <p>Our mission is to promote awareness, understanding, and harmony internally, interpersonally, culturally, ecologically and ideologically.
                Enso Center encourages the growth of strong
                sustainable communities through the study of 
                martial arts,nature,languages, literacy, 
                communication, and fine arts. </p>
            </div>

            <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="false">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#mission"
                                                aria-expanded="false" aria-controls="mission">
                                            Our Mission Statement
                                        </a>
                                    </h4>
                                </div>
                                <div id="mission" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <h2>Mission Statement</h2>
                                        <p align="left">Our mission is to promote awareness,
                                            understanding, and harmony internally, interpersonally, culturally,
                                            ecologically and ideologically.
                                        </p>
                                        <p>Enso Center encourages the growth of strong<br />
                                            sustainable communities through the study of <br />
                                            martial arts,nature,languages, literacy, <br />
                                            communication, and fine arts.
                                        </p>
                                        <h4>Internally</h4>
                                        <p><img src="images_layout/about_enso01.jpg" alt="" align="right" height="87" hspace="10" vspace="10" width="125" /> Enso Center focuses on integrating internal
                                            arts into daily practice and basic teaching curricula, building
                                            positive discipline lifestyles, and providing practical learning
                                            experiences. We aspire to balance body and mind through training and
                                            development. We aim to hone mental and physical self-discipline, to
                                            inspire personal development, to challenge creativity, to promote
                                            academic excellence, and increase appreciation of civil society and
                                            healthy lifestyles.</p>
                                        <h4>Interpersonally</h4>
                                        <p>Enso Center developed as a non-profit, non-sectarian,
                                            grassroots, educational organization dedicated to building strong,
                                            sustainable communities by teaching peacekeeping skills through the
                                            study of martial arts, nature, languages, technology, communication,
                                            and literacy. We are committed to teaching the art of peace through
                                            self-control, self-defense, compassion, respect for all, and conflict
                                            resolution. We utilize pro-active, communicative approaches that
                                            empower individuals and bind communities together.</p>
                                        <h4>Culturally</h4>
                                        <p>Enso Center is committed to the support, promotion,
                                            documentation, and teaching of living arts, and to the preservation of
                                            their common, fundamental lifeline-the "living treasure" of direct
                                            teacher to student transmission within a disciplined life. We believe
                                            that in order to learn more about peace, nature, community, and the
                                            world, one must study, practice, and manifest a commitment to them in
                                            daily life. We build new bridges and cross disciplinary connections to
                                            create an association of families, artists, students, and teachers
                                            dedicated to healthy and safe communities-communities that value human
                                            rights, community service, diversity, and pluralism.</p>
                                        <h4>Ecologically</h4>
                                        <p>Enso Center exists in the larger communities of nature and
                                            human societies. We believe in the enhancement and enrichment of these
                                            communities through recognizing mutual dependence, building greater
                                            understanding, and encouraging meaningful and productive partnership.</p>
                                        <h4>Ideologically</h4>
                                        <p>Enso Center is devoted to teaching the principles of
                                            compassion and peaceful resolution of conflict through artistic
                                            disciplines. Our unique educational programs utilize cross-cultural
                                            communication and conflict management strategies — emphasizing fun,
                                            learning, creativity, and tolerance.</p>
                                        <p>Enso Center extends to all students, regardless of race,
                                            color, gender, sexual orientation, religion, national or ethnic origin,
                                            the rights, privileges, programs, and activities generally accorded or
                                            made available to its students. We do not discriminate in the
                                            administration of educational policies, scholarship and loan programs,
                                            or other athletic or school administered programs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#facility"
                                                aria-expanded="true" aria-controls="facility">
                                            Facilities
                                        </a>
                                    </h4>
                                </div>
                                <div id="facility" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <h3>Facility Rentals</h3>
                                        <p>Please contact us if interested in using the space. Times and days are limited due to the ongoing Enso Center programs.
                                        We are interested in adding to our programs, with Yoga, fine arts instruction, asian arts, etc.                                 Please contact us.</p>
                                        <h3>Enso Center Headquarters</h3>
                                        <p>Our building is nestled amongst the trees on a 12.5 acre plot. It has 2 floors, with the first floor being handicap accessible.
                                        The main (first) floor is comprised of a large matted space, surrounded by seating areas. Any activites performed on the mats must be done without shoes. The ceiling is 12' high, and there are no posts in the room. Two large folding door systems open to a spacious cedar deck of 1250 square feet.</p>    
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                          <!-- Indicators -->
                                          <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                                          </ol>
                                         
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner" align="center">
                                            <div class="item active">
                                                <img src="images/facility/facilities00.jpg" alt="...">
                                                <div class="carousel-caption">
                                            </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities01.jpg" alt="...">
                                                <div class="carousel-caption">
                                            </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities02.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities03.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities04.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities05.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities06.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/facility/facilities07.jpg" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>

                                          </div>
                                         
                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                          </a>
                                        </div> <!-- Carousel -->

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#FAQ"
                                                aria-expanded="false" aria-controls="FAQ">
                                            Frequently Asked Questions
                                        </a>
                                    </h4>
                                </div>
                                <div id="FAQ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <p>Below you will find a collection of questions that have been
                                    asked about Enso Center and our best answers to them.&nbsp; This
                                    list is not meant to answer all possible questions but only those that
                                    are asked most frequently.&nbsp; We will add to this list of
                                    questions and answer them over time.</p>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="style2" width="575">
                                                    <h4>What are Enso Center’s instructors’ qualifications?</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p>Details for all instructors can be found on the Our Instructors Tab on the About Enso Page of our website. </p>
                                                        <p>Our head instructors have over 25 years experience teaching martial arts.  </p>
                                                        <p>Jason Mix began teaching as the principal instructor of Enso Center - Redmond in 1986, making Enso Center one of the longest running schools in Redmond. </p>
                                                        <p>He is active in the martial arts community, sharing and training with students and instructors from many styles. </p>
                                                        <p>Jason and Susan Mix studied Hapkido with Grandmaster Kwang Sik Myung and hold 7th Degree Black Belts from the <a href="http://worldhapkidofederation.com" target="_blank">World Hapkido Federation</a>.  </p>
                                                        <p>They also both hold 6th Degree Black Belts in Taekwondo from the Korea Yonmookwan Taekwondo Association.  </p>
                                                        <p>Master Jason Mix is the North American West Coast Regional Director for The World Hapkido Federation. </p>
                                                        <p>Master Jason Mix has studied Tai Chi for over 20 years, studying with Ying Hong Yang and Lama Padma Yontan Gyatso.  </p>
                                                        <p>He is also certified as a 2nd Degree Black Belt in Aikido through Hombu Dojo in Japan. </p>
                                                        <p>Together, they have taught thousands of students, bringing nearly 200 to the rank of black belt.</p>
                                                    </blockquote>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                <h4>What does tuition cost?<br />
                                                Are there any other costs besides tuition?<br />
                                                Are there any contracts?</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p><strong>Enso Center doesn’t believe in and has
                                                         never had contracts for its programs.</strong></p>
                                                        <p>Enso Center Tuition rates are published on the <a href="http://ensocenter.org/tuition.html">Tuition Page</a>.</p>
                                                        <p>Tuition is paid monthly.</p>
                                                        <p>There is an annual individual or family administration
                                                            fee. This fee is tax deductible.<br />
                                                            There is a promotion fee for each belt level test. This fee is also tax deductible.<br />
                                                            If you want to be certified through World Hapkido Federation at the
                                                            black belt level there is a separate fee for that as they are our
                                                            parent organization.<br />
                                                        </p>
                                                        <p>AUTORENEW is Enso Center’s <strong>preferred</strong>
                                                            method of payment. </p>
                                                        <p>We are <strong>strongly</strong>
                                                            encouraging all of our students (or their parents) to use this method
                                                            when paying for monthly tuition and the annual registration fee. It
                                                            gives you the best rate and is the most convenient for you and for Enso
                                                            Center.</p>
                                                        <p>You may cancel AUTORENEW at any time by giving notice
                                                            before your next payment.</p>
                                                     </blockquote>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2"><h4>Can I pay online?</h4></td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p>You can pay online for many Enso Center activities such as workshops, seminars, promotion tests, summer camps and other merchandise.
                                                         You can also update your account information. For instructions:<br /><br />
                                                        <a href="docs/MindBodyOnline - How To Pay Online.pdf" target="_blank">MindBodyOnline - How To Pay Online.pdf</a></p>
                                                    </blockquote>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <h4>Are there discounts for families?</h4>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p>At Enso Center, we encourage families to train
                                                        together. The first person in a family pays the regular tuition. Other
                                                        additional family members receive a discount. Please see the family
                                                         member discounts published on the <a href="http://ensocenter.org/tuition.html">Tuition Page</a>.</p>
                                                    </blockquote>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <h4>Do I have to wait for the beginning of the month to
                                                    start?</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p>No. You can start at any time. Your tuition will be
                                                        prorated depending on when in a particular month you start.</p>
                                                    </blockquote>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <h4>Do I need a uniform right away?<br />
                                                    Do I have to wear a uniform?<br />
                                                    Do you sell uniforms?<br />
                                                    How much is a uniform? </h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    <blockquote>
                                                        <p>No, you don’t need a uniform right away. </p>
                                                        <p> You should wear loose, comfortable clothing that you
                                                        can move freely in. After attending classes regularly for a while and
                                                        settling in to the training you should then purchase a uniform. </p>
                                                        <p>Enso Center does not sell Hapkido Uniforms directly
                                                        but you can order Hapkido uniforms from the <a href="http://hapkido.stores.yahoo.net/uniforms.html" target="_blank">World Hapkido Federation Online Store</a>.
                                                        Currently you can choose between a Middle Weight and a Heavy Weight
                                                        Uniform. Either is fine and the Middle Weight Uniform starts at $55.00
                                                        USD. </p>
                                            <p class="style4">Enso Center does sell Tae Kwon
                                                Do Uniforms for $38.00 USD (including tax).</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>How often do people promote to the next colored belt
                                            level?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>The length of time between promotions will vary
                                                depending on the length of time it takes each student to learn the
                                                required curriculum for each level.&nbsp; </p>
                                            <p>One of the things that we recognize at Enso Center is
                                                that people progress at their own speed. Having said that, most people
                                                promote on average every two to six months at the lower colored belt
                                                levels. </p>
                                            <p>As your rank increases, so do the requirements and
                                                expectations and consequently the time between promotion tests will be
                                                longer.&nbsp; </p>
                                            <p>A key factor in the time taken is your diligence in
                                                practice and how often you are able to attend class.</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>How long does it take to get to Black Belt?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>See the answer to the previous question on how often
                                                people promote as it is relevant.&nbsp; </p>
                                            <p>A very general answer might be anywhere from 3 – 5
                                                years to reach 1st Dan or 1st Degree Black Belt but this depends on
                                                attitude, discipline and attendance.&nbsp; </p>
                                            <p>At Enso Center, we like to focus on learning correct
                                                technique at all levels.&nbsp; </p>
                                            <p>The 1st Dan Black Belt is an important milestone in
                                                your journey within martial arts but it is also only just a milestone.</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>How do I transfer my rank from another school to Enso
                                            Center?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>At Enso Center we typically honor your existing rank
                                                from another school in the same martial arts. But we also expect you to
                                                learn our curriculum some of which will be very familiar because of
                                                your previous training. You should talk to Master Jason Mix about this
                                                when you join Enso Center.</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>Do you have kids only classes?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>No. We do not have kids only classes. At Enso Center
                                                adults and kids train together. This allows and encourages you to train
                                                with partners of various sizes and abilities and is a very fun training
                                                environment especially for families that want to train together.</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>What are the minimum and maximum ages to participate in
                                            Martial Arts at Enso Center?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>Hapkido is open to ages 6 through Adult.<br />
                                                Tae Kwon Do is open to ages 6 through Adult.<br />
                                                Tai Chi is open to ages 12 through Adult.<br />
                                                Archery is open to ages 13 through Adult.<br />
                                                (Children aged 8 - 12 may attend Archery WITH SPECIAL PERMISSION of the
                                                Instructor providing that they attend with a parent. BOTH PARENT AND
                                                CHILD MUST BE REGISTERED FOR ARCHERY)<br />
                                            </p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>Are there tournaments I have to participate in?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>No. There are no tournaments that you must participate
                                                in. Enso Center runs a fun Enso Games event once or twice per year with
                                                many different activities to participate in but this is different than
                                                most traditional tournaments. Attendance at Enso Games is not mandatory
                                                but it is FUN!</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <h4>Is it dangerous to practice martial arts? <br />
                                            Do you use martial arts pads or other body armor?</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">
                                        <blockquote>
                                            <p>There is always some risk of being hurt in practicing
                                                martial arts. At Enso Center we train with safety as our primary
                                                emphasis while focusing on effective, correct technique. Only "tag"
                                                style sparring is used at Enso Center.</p>
                                            <p>We do not use martial arts pads or body armor because
                                                of the way we practice.</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style2">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
              

            <header class="page-title">
                <h1>Meet Our Employees</h1>
            </header>
            <section>
                <div class="sort-ui">
                    <span>Sort By: </span>
                    <div class="btn-group">

                        <button type="button" class="btn btn-default" ng-click="sortBy('lastName')" ng-class="{sorted: isSortedBy('lastName')}">Last Name</button>
                        <button type="button" class="btn btn-default" ng-click="sortBy('firstName')" ng-class="{sorted: isSortedBy('firstName')}">First Name</button>
                        <button type="button" class="btn btn-default" ng-click="sortBy('title')" ng-class="{sorted: isSortedBy('title')}">Position</button>
                    </div>
                </div>

                <!--Filters the employees based off of what is typed in the search box-->
                <div class="filter-ui">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchString">
                </div>
            </section>

            <section>
                <ul class="cards">
                    <!--Creates a profile for each employee-->
                    <li class="card" ng-repeat="employee in filteredEmployees = (employees | filter: searchString | orderBy : sortCol : sortReverse)"> 
                        <div class="details">
                            <img ng-src="{{employee.picUrl}}" alt="Picture of {{employee.firstName}} {{employee.lastName}}">
                            <h2 class="name">{{employee.firstName}} {{employee.lastName}}</h2>
                            <p class="title">{{employee.title}}</p>
                            <!--creates a link for the email of employee if the employee has one-->
                            <p class="desc" ng-if="employee.desc != undefined">
                                {{employee.desc}}
                            </p>
                        </div>
                    </li>
                </ul>
            </section>      
        </div>  



            <div id="footer" class="row">
                <table border="0" width="100%"><tbody><tr><td><div class="style1" align="center">
                    <table border="0" width="100%">
                        <tbody>
                        <tr>
                            <td><div class="style1" align="center">
                                <p><a href="index.html" target="_self">Home</a> | <a href="aboutenso.html" target="_self">About Enso Center</a>  | <a href="tuition.html" target="_self">Tuition</a> | <a href="schedules.html" target="_self">Class Schedules</a><br />
                            </div></td>
                        </tr>
                        <tr>
                            <td><div align="right">
                                <p>&nbsp;</p>
                                <p class="style1" align="center">Please provide comments and feedback to <a href="mailto:webmaster@ensocenter.org">webmaster@ensocenter.org</a></p>

                                <p class="style1" align="center">All material copyright © Enso Center, 2010. All rights reserved.</p>
                                <p class="style1" align="center">Enso Center web site design by Thien Ho. Enso Circle logo design by Kristen Perry.</p>
                            </div></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                </div></td>
                </tr>
                </tbody>
                </table>
            </div>




    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>    
    <script src="js/employees.js"></script>
    <script src="js/app.js"></script>

</body></html>